load("@io_bazel_rules_go//go:def.bzl", "go_library")
load("//adventofcode/data:generate_testfile.bzl", "go_instance_test")

go_library(
    name = "{{.FullDay}}",
    srcs = ["{{.FullDay}}.go"],
    importpath = "github.com/Saser/pdp/adventofcode/go/{{.FullYear}}/{{.FullDay}}",
    visibility = ["//adventofcode/go:__subpackages__"],
)

go_instance_test(
    name = "instance_test",
    go_package = "{{.FullDay}}",
    instances = [
        "//adventofcode/data/{{.FullYear}}/{{.FullDay}}:part1_actual.textproto",
        "//adventofcode/data/{{.FullYear}}/{{.FullDay}}:part1_example1.textproto",
        "//adventofcode/data/{{.FullYear}}/{{.FullDay}}:part2_actual.textproto",
        "//adventofcode/data/{{.FullYear}}/{{.FullDay}}:part2_example1.textproto",
    ],
    library = ":{{.FullDay}}",
    part1 = "Part1",
    part2 = "Part2",
)
